:root {
 
  --primary-color: #242424;     
  --primary-dark: #473f37;       
  --secondary-color: #4e2e13;    
  --accent-color: #dc3545;      
  --neutral-light: #f8f9fa;     
  --neutral-medium: #6c757d;     
  --neutral-dark: #343a40;      
  --text-color: #212529;         
  --bg-color: #ffffffab;           

  
  --font-family: 'Roboto', sans-serif; 
  --font-size-xs: 0.875rem;      
  --font-size-sm: 1rem;      
  --font-size-base: 1.2rem;        
  --font-size-lg: 1.8rem;       
  --font-size-xl: 2.5rem;        
  --font-size-xxl: 3.5rem;        

 
  --spacing-xs: 0.5rem;         
  --spacing-sm: 1rem;            
  --spacing-md: 1.5rem;          
  --spacing-lg: 2rem;           
  --spacing-xl: 3rem;           
  --spacing-xxl: 4rem;          


  --border-radius: 8px;
  --box-shadow: 0 2px 4px rgba(27, 23, 1, 0.877);
  --transition: all 0.3s ease;
}
